body {
    background-color: #e5e5e5;
}

.header {
    background-color: #cb202d;
    padding: 5px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.data {
    margin-top: 120px;
    width: 1100px;
}

.box {
    background-color: white;
    display: flex;
    margin-bottom: 25px;
}

img {
    width: 400px;
    height: 250px;
}

hr {
    width: 700px;
}

.title h2 {
    color: red;
}

.names {
    margin-left: 50px;
    float: left;
}

.key {
    font-size: 20px;
    padding-right: 20px;
}